body {
    background-color : green;
  }
  h1 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h2 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h3 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h4 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h5 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h6 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  p {
    color:
  }
  address{
      font-style: normal;
      text-align: center;
      text-transform : uppercase;
  }