body {
    background-color : green;
  }
  h1 {
    font: Arial,Helvetica, sans-serif;
  }
  h2 {
    font: Arial,Helvetica, sans-serif;
  }
  h3 {
    font: Arial,Helvetica, sans-serif;
  }
  h4 {
    font: Arial,Helvetica, sans-serif;
  }
  h5 {
    font: Arial,Helvetica, sans-serif;
  }
  h6 {
    font: Arial,Helvetica, sans-serif;
  }
  p {
    color:
  }