  body {
    color : green;
    background : white url(draft.jpg) no-repeat fixed center;
  }
  h1 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h2 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h3 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h4 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h5 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  h6 {
    font: Arial,Helvetica, sans-serif;
    font-size: 0.6cm;
  }
  blockquote{
    background-color: silver;

  }
  address{
      font-style: normal;
      text-align: center;
      text-transform : uppercase;
  }
  ul{
    list-style: circle url("apple.jpg") outside;

  }
  ul b{
    color: rgb(155,0,0);
  }